


.page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container {
    min-height: 100%;
    width: 80%;
    padding-top: 60px;
    display: flex;
    background-color: rgb(138, 21, 216, 0.8);
    gap: 10px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
